:root {
    --homepage-firstsection-height: 416px;
    --homepage-color-1: #75243b;
    --homepage-color-2: #471220;
    --homepage-color-3: #be4465;
    --homepage-color-3-rgb: 190, 68, 101;
    --homepage-color-rgb-1: 70, 21, 35;
    --homepage-bgcolor-1: #f8f8f8;
    --homepage-rounded-1: 5px;
    --homepage-box-shadow-1: 0px 0px 15px 1px rgba(255, 255, 255, 0.282);
    --homepage-color-gradient-1: linear-gradient(to bottom, var(--homepage-color-1), var(--homepage-color-2));
}


@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;






@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: "REM", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'REM';
  src: url('/fonts/rem/REM-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'REM';
  src: url('/fonts/rem/REM-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'REM';
  src: url('/fonts/rem/REM-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'REM';
  src: url('/fonts/rem/REM-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'REM';
  src: url('/fonts/rem/REM-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'REM';
  src: url('/fonts/rem/REM-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'REM';
  src: url('/fonts/rem/REM-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'REM';
  src: url('/fonts/rem/REM-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'REM';
  src: url('/fonts/rem/REM-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'REM';
  src: url('/fonts/rem/REM-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'REM';
  src: url('/fonts/rem/REM-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'REM';
  src: url('/fonts/rem/REM-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'REM';
  src: url('/fonts/rem/REM-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'REM';
  src: url('/fonts/rem/REM-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'REM';
  src: url('/fonts/rem/REM-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'REM';
  src: url('/fonts/rem/REM-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'REM';
  src: url('/fonts/rem/REM-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'REM';
  src: url('/fonts/rem/REM-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}





@layer utilities {

  /* Scrollbar Styles */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #4b5563;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 transparent;
  }
}